.segmentWrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--ion-background-color, #fff);
  padding: 8px 16px;
  border-bottom: 0.55px solid var(--ion-color-step-150, #d7d8da);
}

.badge {
  margin-left: 4px;
  font-size: 10px;
  padding: 1px 5px;
  vertical-align: super;
  border-radius: 8px;
}
